.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-top: 30px;
	padding-bottom: 74px;
	min-height: 840px;
	background: 
	linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), 
	url(./../img/header/header-bg.jpg), lightgray 50% / cover no-repeat;

	@include mediaTablet {
		min-height: unset;
		row-gap: 50px;
	}
}

.header__top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s ease-in;
}

.header__top-row--mobile {
	position: fixed;
	background-color: $dark;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 99;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	row-gap: 50px;
	padding-top: 40px;
	padding-bottom: 40px;

	.header__nav {
		display: block;
	}

	.nav__list {
		flex-direction: column;
		row-gap: 30px;
		align-items: center;
	}

	.header__nav-btn {
		position: fixed;
		z-index: 11;
		right: 30px;
		top: 30px;
	}
}

.header__nav {
	@include mediaTablet {
		display: none;
	};
}

.header__nav-btn {
	display: none;

	@include mediaTablet {
		display: block;
	};
}

.header__title {
	position: relative;
	padding-bottom: 121px;

	text-align: center;
	font-size: 48px;
	font-family: $font-accent;
	color: $accent;
	font-weight: 700;

	@include mediaTablet {
		font-size: 32px;
		padding-bottom: 80px;
	}
}

.header__title-icon {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);

}

.header__footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;

	@include mediaTablet {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}
}